@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .75rem;
  height: .75rem;

  scrollbar-width: thin;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(24 24 27);
  border: 4px solid transparent;
  border-radius: .5rem;
  background-clip: padding-box;
}

.scrollbar-hide {
  scrollbar-width: 0;
  scrollbar-color: transparent;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: #020202;
  color: #fafafa;
}
